<!-- End slide -->
<section class="title" data-background-iframe="{{ "/theme/rub/emsec_banner.html" | prepend: site.baseurl }}" data-background-transition="fade" data-transition="fade">
    <div class="title-box">
        <p>Thank you for your attention!</p>
        <p>Any questions?</p>
    </div>
    <div class="title-footer">
        <div class="footer-left">
            <p class="info">EMSEC Thesis Colloquium</p>
        </div>
        <div class="footer-right">
            <p class="date">{% if page.date %}{{ page.date | date: "%d.%m.%y" }}{% endif %}</p>
            <img class="emsec-logo" src="{{ "/theme/rub/emsec_logo.png" | prepend: site.baseurl }}" />
        </div>
    </div>
</section>

